.illustration-grid{
  position: relative;
  z-index: 1;
  width: 1200px;  
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
}
.illustration-left{
  width: 600px;
  height: 650px;
  background: url('../../assets/Illustration.svg')no-repeat center center;
  background-size: 750px;
  transform: translateX(-50px);
}
.illustration-right{

  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.illustration-right h4{
  color: var(--backgroundColor);
  margin-bottom: 30px;
}
.illustration-right h1{
  font-size: 55px;
}
.illustration-right p{
  width: 85%;
  color: var(--textColor);
  font-size: 17px;
  margin:  22px 0px;
  line-height: 1.7rem;
}
.illustration-right a{
  text-decoration: none;
  width: 22%;
  border-radius: 5px;
  padding: 15px 22px;
  color: white;
  background-color: var(--backgroundColor);
  box-shadow: 10px 10px 47px -5px rgba(55,52,169,0.75);
}
.illustration-string{
  height: 0px;
  position: relative;
  z-index: -1;
  width: 1600px;
  margin: 0px auto;
}
.illustration-string img{
  transform: translateY(-725px);
}